.nb-select


  &-fallback
    if !ie
      display: none
    if ie
      display: inline-block

  .nb-button-content
    if ie
      display: none !important
    if !ie
      overflow: hidden
      text-overflow: ellipsis
      padding-right: 4px
      margin-right: - @padding-right

      // For baseline alignment
      float: left
      width: 100%

// For baseline alignment,
// TODO: move to Stylobate
.nb-select-helper
  display: inline-block
  width: 0
  overflow: hidden

  &:before
    content: " "

.nb-select .nb-select-button
  box-sizing: border-box
  display: inline-block

.nb-select .nb-button-content:before
.nb-select-dropdown .nb-select-group-tem > .nb-select-a > .nb-select-text:before
  content: ""
  skin: icon_dropdown selecty

.nb-small-select .nb-button-content:before
.nb-small-select-dropdown .nb-select-group-tem > .nb-select-a  > .nb-select-text:before
  skin: icon_dropdown selecty small

.nb-select-dropdown .nb-select-group-tem > .nb-select-a  > .nb-select-text:before
.nb-small-select-dropdown .nb-select-group-tem > .nb-select-a  > .nb-select-text:before
  transform: scale(0.75) rotate(-45deg) translate(3px, 5px)

.nb-select-dropdown .ui-menu
  skin: isle fly, menu no-elements
  position: absolute
  z-index: 10000

  reset: ul
  list-style-type: none // move to reset

.nb-select-item
  reset: li

.nb-select-text
  skin: menu-item (_checked '.is-selected &')
  white-space: nowrap

.nb-select-separator
  skin: menu-separator padded

.nb-select-popup .nb-popup-content
  overflow-x: hidden
  overflow-y: auto
  padding: 0

.nb-small-select-dropdowns .nb-select-item .nb-select-text
  skin: menu-item_size small

.nb-small-normal-select .ui-state-focus > .nb-select-text,
.nb-small-normal-select .ui-state-focus > .nb-select-text,
.nb-small-normal-select .ui-state-focus > .nb-select-text,
  skin: menu-item_hover

// FIXME: we need to use `nb-is-disabled` here
.nb-small-normal-select .ui-menu-item_disabled_yes
  kind: disabled 0.6 (-nested '')

.nb-select-seperator-item
  skin: menu-separator padded
